<main>
 <section class="info">
        <h1>Contactanos</h1>
    </section>
    <section class="contact">
        <form>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="email"> Número de Teléfono:</label>
            <input type="number" name="telefono" id="telefono" pattern="[0-9]{10}" title="Ingrese un número de teléfono de 10 dígitos" required>
            <br>
            <label for="message">Escribe tu Mensaje:</label>
            <textarea id="message" name="message" rows="4" cols="50" required></textarea>
            <br>
            <button type="submit">Enviar</button>
        </form>
        <section class="info1">
            <h2>¿Cómo llegar?</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6219643.174080219!2d-8.132770574999977!3d40.43243500000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f48809863ef%3A0xb4d09cf1e2f6018d!2sTus%20Detalles!5e0!3m2!1ses!2sco!4v1701323254077!5m2!1ses!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
      
    </section>
 
 
</main>
