main{
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.banner h1 {
    color: #333;
    font-size: 3em;
}

.banner p {
    color: #777;
    font-size: 1.5em;
}
.info h2 {
    font-size: 2em;
    position: absolute;
    top:110px ;
}
.info p {
    color: #777;
}

.contact form {
    margin-top: 20px;
}

.contact label {
    display: flex;
    margin-top: 10px;
}

.contact input,
.contact textarea {
    width: 40%;
    padding: 5px;
    box-sizing: border-box;
}

.contact button {
    display: block;
    margin-top: 20px;
    background-color: #ecacd1;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    width: 10%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

.info1{
    margin-left: 800px;
    margin-top: -450px;
}