<div class="container">
    <div class="cart-header">
        <h2>Carrito de Compras</h2>
        <a href="#" class="checkout-btn">Proceder al pago</a>
    </div>
    <table class="cart-items">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Producto 1</td>
                <td>$45000</td>
                <td>1</td>
                <td>$45000</td>
            </tr>
            <tr>
                <td>Producto 2</td>
                <td>$45000</td>
                <td>1</td>
                <td>$45000</td>
            </tr>
        </tbody>
    </table>

    <div class="cart-total">
        <span>Total:</span>
        <span>$90000</span>
    </div>
</div>
