.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-items {
    border-collapse: collapse;
    width: 100%;
}

.cart-items th,
.cart-items td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.cart-items th {
    background-color: #f2f2f2;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.cart-total span {
    margin-left: 20px;
}

.checkout-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.checkout-btn:hover {
    background-color: #0056b3;
}