.footer {
    background-color: rgb(210, 179, 214);
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}