<div class="contenedor">
    <div class="descripcion">
        <p>¡Bienvenido a tienda de detalles D&Y, Sumérgete en un mundo de encanto y elegancia, donde cada detalle cuenta una historia única. Desde pequeños tesoros hasta expresiones delicadas, nuestra tienda está cuidadosamente curada para ofrecerte una selección exclusiva de regalos y adornos que capturan la esencia de la sofisticación. Descubre la magia de los detalles que marcan la diferencia y encuentra el regalo perfecto para cada ocasión.</p>
        <br>
        <button class="button" routerLink="/catalogo">Conoce Más</button>
</div>
<div class="image-container">
    <img src="/assets/imagen 1.png" alt="Imagen 1" class="active">
    <img src="/assets/imagen 2.jpg" alt="Imagen 2">
    <img src="/assets/imagen 3.png" alt="Imagen 3">
</div>
</div>
