.contenedor{
    box-sizing: border-box; 
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section h1{
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-around;
    margin-left: 50px;
    font-size: 46px;
}
.image-container {
    width: 300%;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-left: 870px;
    top: -350px;
}

.image-container img {
    max-width: 300%;
    height: 400px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}
.image-container img.active {
    opacity: 1;
}
.descripcion{
  width: 60%;
  margin-left: 20px;
  font-style: oblique;
  font-size: 150%;
}

.button{
    width: 30%;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #9c577f;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 180px;
}