.menu a{
    color: #0c0509;
    margin-left: 100px;

}

h1{
    text-align: center;
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    
}


th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #975656;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #bd82a4;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.btn-edit, .btn-delete {
    padding: 6px 12px;
    margin: 2px;
    cursor: pointer;
}

.btn-edit {
    background-color: #4caf50;
    color: white;
}

.btn-delete {
    background-color: #f44336;
    color: white; 
}

