
        <h1>Lista de Pedidos</h1>
        <table>
            <thead>
                <tr>
                    <th>ID Pedido</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Cliente</th>
    
                </tr>
                <tr>
                <td>1</td>
                    <td>Producto 1</td>               
                    <td>10</td>
                    <td>Cliente A</td>
                    <td>
                        <button class="btn-edit" onclick="editarPedido(1)">Editar</button>                
                        <button class="btn-delete" onclick="eliminarPedido(1)"><i class="fa-solid fa-pen-to-square"></i> Eliminar</button>
                     </td>
                </tr>
                <tr>
                <td>2</td>
                    <td>Producto 2</td>
                    <td>5</td>
                    <td>Cliente B</td>
                    <td>
                        <button class="btn-edit" onclick="editarPedido(1)">Editar</button>                
                        <button class="btn-delete" onclick="eliminarPedido(1)"><i class="fa-solid fa-pen-to-square"></i> Eliminar</button>
                     </td>
                </tr>
                <td>3</td>
                    <td>Producto 3</td>
                    <td>5</td>
                    <td>Cliente c</td>
                    <td>
                        <button class="btn-edit" onclick="editarPedido(1)">Editar</button>                
                        <button class="btn-delete" onclick="eliminarPedido(1)"><i class="fa-solid fa-pen-to-square"></i> Eliminar</button>
                     </td>   
            </thead>
    <script>
        function editarPedido(id) {
            alert("Editar pedido con ID " + id);
        }
    
        function eliminarPedido(id) {
            alert("Eliminar pedido con ID " + id);
        }
    </script>
    