<body>
    <h1>Tu perfil</h1>
    <div class="logo">
        <img src="/assets/Imagen de WhatsApp 2023-12-05 a las 23.38.06_01bf5b8d.jpg" alt=""   width="10%" height="30%">
    </div>
    <form>
        <label for="nombre">Nombre Completo:</label>
        <input type="text" id="nombre" name="nombre" value="">
        <br>
        <label for="identificacion">Identificación:</label>
        <input type="text" id="identificacion" name="identificacion" value="">
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="">
        <br>
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" value="">
        <br>
        <button type="button">Cambiar contraseña</button>
        <br>
        <button type="submit">Editar</button>
    </form>
</body>
