body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1{
    color: #333;
    margin-left: 30px;
    margin-top: 20px;
}
form {
    max-width: 400px;
    margin-left: 20px;
    padding: 30px;
    background-color: #c596b0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000;
}
label {
    display: block;
    color: #060404;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
}
button {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #974073;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 90px;
}
button:hover {
    background-color: #95bae1;
}
.logo{
    margin-left: 20px;
}