<
<body>
    <h1>Catalogo</h1>
    <section>
        <div class="producto">
            <img src="/assets/imagen 1.png" alt="Producto 1">
            <p>Una exquisita caja llena de alegría con una selección de finos chocolates, trufas, una botella de vino espumoso y un adorable peluche para endulzar cualquier ocasión especial.</p>
            <p>Precio: $50.000</p>
            <button>Comprar</button>
        </div>
    
        <div class="producto">
            <img src="/assets/imagen 2.jpg" alt="Producto 2">
            <p>Sumérgete en el lujo con esta caja que combina licores premium, una variedad de galletas y bombones, un elegante juego de copas y un suave peluche que hará que cada momento sea inolvidable..</p>
            <p>Precio: $50.000</p>
            <button>Comprar</button>
        </div>

        <div class="producto">
            <img src="/assets/imagen 3.png" alt="Producto 3">
            <p>Una explosión de delicias espera en esta canasta que incluye una diversidad de dulces, una selección de licores artesanales, y un tierno peluche para crear una fiesta de sabores y emociones.

            </p>
            <p>Precio: $50.000</p>
            <button>Comprar</button>
        </div>

        <div class="producto">
            <img src="/assets/imagen 4.jpg" alt="Producto 4">
            <p>Celebra el amor con esta caja que combina trufas de chocolate, fresas bañadas en chocolate, una botella de vino tinto, y un romántico peluche que hará latir más fuerte cualquier corazón.</p>
            <p>Precio: $50.000</p>
            <button>Comprar</button>
        </div>

        <div class="producto">
            <img src="/assets/imagen 5.webp" alt="Producto 5">
            <p>Descubre nuevos placeres con esta caja que incluye una mezcla ecléctica de dulces internacionales, licores exóticos, y un divertido peluche, creando una experiencia única para los amantes de la buena vida.</p>
            <p>Precio: $50.000</p>
            <button>Comprar</button>
        </div>

        <div class="producto">
            <img src="/assets/imagen 6.jpeg" alt="Producto 6">
            <p>Para esos momentos acogedores, esta caja ofrece una selección reconfortante de chocolates, licores suaves, una manta suave y un peluche abrazable, perfecto para disfrutar de una noche tranquila y dulce.</p>
            <p>Precio: $50.000</p>
            <button>Comprar</button>
        </div>
    </section>
    </body>

    

