h1{
    text-align: center;
}
.menu a{
    color: #0c0509;
    margin-left: 100px;

}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0px;
    padding: 0;
    background-color: #f4f4f4;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.producto {
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 100%;
    height: 300px;
}
button{
    align-items: center;
    justify-items: center;
}