body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
}
.contenedor-form{
    display: flex;
}
.container {
    width: 500px;
    padding: 5px;
    background-color: #b56e97;
    border: 1px solid rgb(252, 248, 248);
    border-radius: 4px;
    margin-left: 50%;
 }
 .fondo1{
    margin-top: 10px;
 }
 input[type=text], input[type=password], input[type=email], input[type=tel], input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
 }
 input[type=submit] {
    background-color: #ecc5dc;
    color: rgb(15, 10, 10);
    cursor: pointer;
}