<div class="contenedor-form">
    <img class="fondo1" src="/assets/imagen 2.jpg" alt="" width="50%" height="20%">

<form action="/submit_form" method="post" class="container">
    <h1>Registrate</h1>
    <label for="fname"><b>Nombre Completo</b></label>
    <input type="text" placeholder="Enter Name" name="name" required>
   
    <label for="identification"><b>Identificación</b></label>
    <input type="text" placeholder="Enter Identification" name="identification" required>
   
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>
   
    <label for="tel"><b>Telefono</b></label>
    <input type="tel" placeholder="Enter Phone" name="phone" required>
   
    <label for="uname"><b>Usuario</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
   
    <label for="psw"><b>Contraseña</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
   
    <input type="submit" value="Enviar">
   </form>
</div>
  
