<div class="formulario">
    <img class="imagen" src="/assets/imagen 1.png" alt="" width="40%" height="20%">
<div class="container">
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Inicio sesión</h1>
        <form>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" name="usuario" class="form-control">
            </div>
            <div class="form-group">
                <label for="contraseña">Contraseña</label>
                <input type="password" id="contraseña" name="contraseña" class="form-control">
            </div>
            <div class="form1">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
        </form>
        <div class="form2">
            <p>¿No tienes cuenta? <a href="#">Registrate</a></p>
        </div>
    </div>
</div>