body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
}
.formulario{
    display: flex;
}
.imagen{
    margin-left: 10px;
}
.container {
    background-color: #ca8bb0;
    width: 500px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    position: relative;
    margin-left: 300px;
    height: 550px;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0 23px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type="text"]:focus, input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

.form1{
    text-align: center;
    margin-top: 50px;
   
}
.form2 {
    text-align: center;
    margin-top: 40px;
}

button {
    background-color: #f0bada;
    color: rgb(13, 9, 9);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    margin-left: 27%;
    top: 100px;
    
}

button:hover {
    opacity:1;
}