<header>
    <div class="header">
        <h1 class="title">TIENDA DE DETALLES D&Y</h1>
    </div>
    <nav class="navbar">
        
            <a routerLink="">Inicio</a>
            <a routerLink="catalogo">Catálogo</a>
            <a routerLink="pedidos">Pedidos</a>
            <a routerLink="contactanos">Contactanos</a>
        
        <div class="user-options">
            <button class="button" type="submit" routerLink="inicio-sesion">Iniciar sesion</button>
            <br>
            <button class="button" type="submit" routerLink="registro-u">Registro</button>
            <img class="image-carrito" src="/assets/carrito-de-compras (1).png" alt="">
        </div>
    </nav>
</header>