header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title{
    background-color: #bd82a4;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.navbar {
    background-color: #ac4f85;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #f4f4f4;
}
nav{
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
nav h1 {
    color: white;
    margin: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.user-options{
    display: flex;
}
.button{
    width: 70%;
    margin-bottom: 20px;
    background-color: #f19bcd;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 50px;
}
.image-carrito{
    margin-left: 50px;
    width: 15%;
    height: 30px;
}